<!DOCTYPE html>

<html lang="en-gb">
    <head>
        <title>Todo</title>
        {{> default_headers}}

        <link rel="stylesheet" href="/static/css/todos.css" />
        <script src="/static/js/todos.js"></script>
    </head>
    <body>
        <div class="spacer"></div>
        <div class="container-fluid">
            <div class="card text-dark bg-light">
                <div class="card-header d-flex justify-content-between align-items-end">
                    <h1>My Todo List!</h1>
                    <div>
                        <button class="btn btn-danger btn-sm" data-task="/tasks/completed" data-action="remove">Remove Completed Tasks</button>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each todos}}
                    <li class="list-group-item d-flex justify-content-between{{#if completed}} disabled{{/if}}">
                        <div class="d-flex align-items-center">
                            {{#if completed}}
                                <form class="inline" method="POST" action="/tasks/{{id}}/uncomplete">
                                    <button title="Uncomplete" type="submit" class="btn btn-light">
                                        <i class="bi bi-check-square-fill"></i>
                                    </button>
                                </form>
                            {{else}}
                                <form class="inline" method="POST" action="/tasks/{{id}}/complete">
                                    <button title="Complete" type="submit" class="btn btn-light">
                                        <i class="bi bi-square-fill"></i>
                                    </button>
                                </form>
                            {{/if}}
                            <span class="{{#if completed}}text-decoration-line-through{{/if}}">{{description}}</span>
                        </div>
                        <button title="Remove" class="btn btn-danger" data-task="/tasks/{{id}}" data-action="delete">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </li>
                    {{/each}}
                    <li class="list-group-item">
                        <form method="POST" class="row">
                            <div class="input-group">
                                <label for="description" class="visually-hidden">New Task</label>
                                <input type="text" placeholder="(Ex. Do the dishes)" id="description" name="description" class="form-control" required />
                                <button type="submit" class="btn btn-primary">Add Task</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>